.borde-img{
  border-right: solid 2px black;
}


img{
  max-width: 75%;
}
@media screen and (max-width:576px) {
  .borde-img{
    border: none;
  }
  .btns-grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  button.btn{
    width: 50%;
  }
  .user-info{
    padding: 0 !important;
  }

  .names-user{
    font-size: 15px !important;
  }

  .info-user{
    font-size: 15px !important;
    word-wrap: break-word;
  }
}

.user-info{
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.container-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btns-grid{
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .borde-img{
    border: none;
  }
  img{
    max-width: 80%;
  }
  .user-info{
    margin-left: 0;
    text-align: center;
    margin-top: 15px;
  }

}

.names-user{
  font-size: 20px;
}


